{% extends 'base.html' %}
{% load static %}

{% block content %}
    <body class="is-preload">
        <div id="wrapper">
            <header id="header">
                <div class="logo">
                    <a href="http://www.mstec.kr/kr/main/main.php"><img style="margin-top:1em; height: 65%; width: 65%;" src="{% static 'front/images/logo-removed.png' %}"></a>
                </div>
                <div class="content">
                    <div class="inner">
                        <h1><span style="color: orange;">S</span>mart <span style="color: blue;"> P</span>ure<span style="color: greenyellow;"> W</span>ater <span style="color: orange;">S</span>ystem</h1>
                        <p>공동 건물,<a href="#intro">test</a> 주택 저수조 In/Out 배관과 건물 내부 특정 위치의 급수관에 연결하여 수돗물의 수질 상태를 실시간 모니터링 </br> 인공지능 수질 분석 솔루션에 의해 분석된 수돗물 수질, 배관, 저수조 등의 이상탐지 및 오염 예측정보를 제공하는 스마트 시스템입니다.</p>			
                        <!-- login form 시작-->
                        <form>
                            <input style="margin-bottom: 0.9rem;" type="text" name="username" placeholder="ID">
                            <input style="margin-bottom: 0.9em;" type="password" name="password" placeholder="Password">
                            <button type="submit">로그인</button>
                        </form>
                        <span>
                            <button type="button">ID 찾기</button>
                            <button type="button">PW 재설정</button>
                            <button type="button">회원가입</button>
                        </span>
                        <!-- login form 끝-->
                    </div>
                </div>
                <nav>
                    <ul>
                        <li><a href="#intro">기업소개</a></li>
                        <li><a href="#work">System</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <!--<li><a href="#elements">Elements</a></li>-->
                    </ul>
                </nav>
           </header>
             <!-- Main -->
            <div id="main">
                                <!-- Intro -->
                <article id="intro">
                    <h2 class="primary">기업소개</h2>
                    <h3>(주) 엠에스텍은 인공지능 수질 진단/예측 시스템 및 AI Robotics 등 4차 산업분야의 AI 신기술을 선도하는 전문 기업입니다.</h3>
                    <span class="image main"><img src="{% static 'front/images/pic01.jpg' %}" alt=""/></span>	
                    <h4>당사는 공장 및 생산 장비 자동화 제어, PLC S/W 및 전장설계 기술을 기반으로, 무한경쟁이라 불리는 세계 안 품질 제일만이 생존하는 현실에서 미래 성장의 가치 창출을 위해
                        스마트 팩토리 통합제어 시스템 및 인공지능 기반 위험요소 진단/예측 엔진시스템 개발 등 4차 산업분야의 AI 신기술 개발을 통해 제2의 도약을 위한 기반을 구축하고 있습니다.</h4>
                </article>
                

                <article id="work">
                    <h2 class="primary">System</h2>
                    <span class="image main"><img src="{% static 'front/images/water_system.jpg' %}" alt="representation of the system"/></span>

                </article>
                
                    <!-- About -->
                <article id="about">
                    <h2 class="primary">About</h2>
                    <span class="image main"><img src="{% static 'front/images/pic03.jpg' %}" alt=""/></span>
                    <p>Lorem ipsum dolor sit amet, consectetur et adipiscing elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat. Praesent urna nisi, fringila lorem et vehicula lacinia quam. Integer sollicitudin mauris nec lorem luctus ultrices. Aliquam libero et malesuada fames ac ante ipsum primis in faucibus. Cras viverra ligula sit amet ex mollis mattis lorem ipsum dolor sit amet.</p>
                </article>
                
                    <!-- Contact -->
                <article id="contact">
                    <h2 class="primary">Contact</h2>
                    <form method="post" action="#">
                        <div class="fields">
                            <div class="field half">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" />
                            </div>
                            <div class="field half">
                                <label for="email">Email</label>
                                <input type="text" name="email" id="email" />
                            </div>
                            <div class="field">
                                <label for="message">Message</label>
                                <textarea name="message" id="message" rows="4"></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="primary" /></li>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </form>
                    <ul class="icons">
                        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                    </ul>
                </article>
            </div>
        </div>
        <div id="bg"></div>
    </body>
{% endblock content %}

