{% load static %}
<link rel="stylesheet" href="{% static 'front/css/map.css' %}">
<link rel="stylesheet" href="{% static 'front/css/main.css' %}" /> 
<noscript><link rel="stylesheet" href="{% static 'front/css/noscript.css'%}" /></noscript>
<script type="text/javascript" src="{% static 'front/js/raphael_min.js' %}"></script>
<script type="text/javascript" src="{% static 'front/js/raphael_path_s.korea.js' %}"></script>
<div style="width:100%;height:400px;">
<div id="map">
	<div id="south"></div>
	<div id="seoul"><h3>서울특별시</h3></div>
	<div id="gygg"><h3>경기도</h3></div>
	<div id="incheon"><h3>인천광역시</h3></div>
	<div id="gangwon"><h3>강원도</h3></div>
	<div id="chungbuk"><h3>충청북도</h3></div>
	<div id="chungnam"><h3>충청남도</h3></div>
	<div id="daejeon"><h3>대전광역시</h3></div>
	<div id="sejong"><h3>세종특별자치시</h3></div>
	<div id="gwangju"><h3>광주광역시</h3></div>
	<div id="jeonbuk"><h3>전라북도</h3></div>
	<div id="jeonnam"><h3>전라남도</h3></div>
	<div id="gyeongbuk"><h3>경상북도</h3></div>
	<div id="gyeongnam"><h3>경상남도</h3></div>
	<div id="daegu"><h3>대구광역시</h3></div>
	<div id="busan"><h3>부산광역시</h3></div>
	<div id="ulsan"><h3>울산광역시</h3></div>
	<div id="jeju"><h3>제주특별자치도</h3></div>
</div>
</div>




{% load static %}
<link rel="stylesheet" href="{% static 'front/css/map.css' %}">
<link rel="stylesheet" href="{% static 'front/css/main.css' %}" /> 
<noscript><link rel="stylesheet" href="{% static 'front/css/noscript.css'%}" /></noscript>
<script type="text/javascript" src="{% static 'front/js/raphael_min.js' %}"></script>
<script type="text/javascript" src="{% static 'front/js/raphael_path_s.korea.js' %}"></script>
<div style="width:100%;height:400px;">
<div id="map">
	<div id="south"></div>
	<div id="seoul"><h3>서울특별시</h3></div>
	<div id="gygg"><h3>경기도</h3></div>
	<div id="incheon"><h3>인천광역시</h3></div>
	<div id="gangwon"><h3>강원도</h3></div>
	<div id="chungbuk"><h3>충청북도</h3></div>
	<div id="chungnam"><h3>충청남도</h3></div>
	<div id="daejeon"><h3>대전광역시</h3></div>
	<div id="sejong"><h3>세종특별자치시</h3></div>
	<div id="gwangju"><h3>광주광역시</h3></div>
	<div id="jeonbuk"><h3>전라북도</h3></div>
	<div id="jeonnam"><h3>전라남도</h3></div>
	<div id="gyeongbuk"><h3>경상북도</h3></div>
	<div id="gyeongnam"><h3>경상남도</h3></div>
	<div id="daegu"><h3>대구광역시</h3></div>
	<div id="busan"><h3>부산광역시</h3></div>
	<div id="ulsan"><h3>울산광역시</h3></div>
	<div id="jeju"><h3>제주특별자치도</h3></div>
</div>
</div>


